<div class="container">
  <p-card header="Sobre">
   <h1>Bem vindo</h1>
   <p>Vou fala sobre o aplicativo e como ele funciona</p>
   <br>
   <p>È um aplicativo onde pode cadastrar um cliente e fazer um lançamento de um pedido Fiado e assim dento controle do seu Negocio</p>
    <h2>Contados:</h2>
   <a href="https://github.com/RomarioRibeiro">
     <img class="git" src="assets/git-hub.png" alt="GitHub">
    </a>
    <a href="#">
      <img class="git" src="assets/link.png" alt="Linkedin">

    </a>
     <a href="#">
       <img class="git" src="assets/whats.webp" alt="Linkedin">

     </a>
  </p-card>
</div>
