<div class="container">
  <form (ngSubmit)="pesquisar()" autocomplete="off">

    <div class="grid">

      <div class="col-12">
        <h1>Pagamento</h1>
      </div>

      <div class="col-12 p-fluid" >
        <label>Descrição</label>
        <input type="text" pInputText name="descricao" [(ngModel)]="filtro.nome" >
      </div>

      <div class="col-12">
        <label style="display: block;">Data do Pagamento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '100px' }" name="vencimentoInicio"
         [(ngModel)]="filtro.dataVencimentoInicio" ></p-calendar>

        <label > Até </label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '100px' }" name="vencimentoFim"
         [(ngModel)]="filtro.dataVencimentoFim" ></p-calendar>
      </div>

      <div class="col-12">
        <button pButton label="Pesquisar"></button>
      </div>
    </div>
  </form>

    <div class="grid">
      <div class="col-12">
        <p-table [value]="lancamentos"
        [paginator]="true" [rows]="filtro.intensPorPagina"
      [lazy]="true" [totalRecords]="totalRegistro" (onLazyLoad)="aoMudarPagina($event)"  #tabela>
          <ng-template pTemplate="header">
              <tr>
                  <th class="p-column-title">Categoria</th>
                  <th class="p-column-title">Pessoa</th>
                  <th class="col-valor-header">Valor</th>
                  <th class="col-data-header">Data Fiado</th>
                  <th class="col-data-header">Data Pagamento</th>
                  <th>Pago</th>
                  <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lancamentos>
              <tr>
                  <td>
                    <span class="p-column-title">Produto</span>
                    {{lancamentos.produto}}
                  </td>

                  <td>
                    <span class="p-column-title">Pessoa</span>
                    {{lancamentos.pessoa}}
                  </td>

                  <td>
                    <span class="p-column-title">Valor</span>
                    {{lancamentos.valor}}
                  </td>

                  <td>
                    <span class="p-column-title">Data Fiado</span>
                    {{lancamentos.data_fiado | date: 'dd/MM/y'}}
                  </td>

                  <td>
                    <span class="p-column-title">Data Pagamento</span>
                    {{lancamentos.data_pagamento | date: 'dd/MM/y'}}
                  </td>

                  <td>
                    <a href="javascript:;" [pTooltip]="lancamentos.pago ? 'Não Pago' : 'Pagar'" tooltipPosition="top" (click)="mudarStatus(lancamentos)">
                      {{lancamentos.pago ? 'Pago' : 'Não Pago'}}</a>
                  </td>
                  <td class="col-acoes">
                    <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/lancamentos', lancamentos.codigo]" ></a>
                    <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confimacaoExclusao(lancamentos)"></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhum lançamento encontrado
              </td>
            </tr>
          </ng-template>
      </p-table>
      </div>

      <div class="col-12">
        <a pButton label="Novo lançamento" routerLink="/lancamento/novo"></a>
      </div>
    </div>
</div>
